---
import { Toaster } from "@/components/ui/sonner";
import "@/styles/global.css";
import 'sonner/dist/styles.css';
---
<!doctype html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>RanBoom</title>
	</head>
	<body>
		<slot />
		<Toaster position="bottom-left" />
	</body>
</html>
